@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --color-text: #111517;
  --bg-color: #ffffff;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 74px;
  margin: 152px 1.25em 0;
}
